<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{ user.first_name }}!</h1>
    <h2>your playlists</h2>
    <ul>
        {% for playlist in user.playlists %}
        <li><a href="/playlist/{{playlist.id}}">{{ playlist.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="/playlist/new"><h3>Create New Playlist!</h3></a>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>