<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to Playlists!</h1>
        <div class="form-row">
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
                <form action="/register" method="post" class="log-reg-form">
                    <h2>Register here</h2>
                    <div>
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div>
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div>
                        <label for="confirm_pass">Confirm Password</label>
                        <input type="password" name="confirm_pass" id="confirm_pass">
                    </div>
                    <button>Register!</button>
                </form>
                <form action="/login" method="post" class="log-reg-form">
                    <h2>Log in here</h2>
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button>Log in!</button>
                </form>
            </div>
        </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>